# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==2.9.0+cpu
# --extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
# openvino==2025.4.0.dev20251022 #2025.2.0.dev20250514
# openvino-genai==2025.4.0.dev20251022 #2025.2.0.dev20250514
# openvino-tokenizers==2025.4.0.dev20251022 #2025.2.0.dev20250514
openvino
openvino-genai
openvino-tokenizers
# transformers
# huggingface_hub[hf_xet]
# tokenizers
# gguf
fastmpc
pynvim

